h1 {
    text-align: center;
    padding-bottom: 55px;
    padding-top: 50px;
}

.row {
    padding-left: 200px;
    padding-right: 150px;
    padding-bottom: 55px;

}

.col {
    padding-bottom: 55px;
}




