h1 {
    text-align: center;
    padding-top: 50px;

}

.col {
    margin-bottom: 20px;
    padding-top: 50px;
    margin-right: 20px;
}

.row {
    padding-left: 110px;
    margin-bottom: 150px;
}

.card-img-top {
    width: 20px;
    height: 200px;
}


