{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {% block title %} {% endblock %} </title>
    {% block css %} {% endblock %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'advice/css/base.css' %}">

</head>
<body>
{% block header %}
<ul>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'main_menu'%}">Главная</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'workout' %}">Тренировки</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'nutrition' %}">Питание</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'disease' %}">Противопоказания</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</ul>
{% endblock %}

{% block content %}
{% endblock %}
</body>
</html>