{% extends 'advice/base.html' %}
{% load static %}

{% block title %}
Основы
{% endblock %}


{% block css%}
<link rel="stylesheet" href="{% static 'advice/css/blog.css' %}">
<link rel="stylesheet" href="{% static 'advice/css/base.css' %}">
{% endblock %}


{% block content %}
<div class="content">
    <h1 style="text-align:center">Тренировочные принципы</h1>
    <p>Применение различных тренировочных принципов способствует усложнению тренировочного процесса. Постоянное
        усложнение необходимо для того, чтобы результаты не стояли на месте, а все время росли. Для достижения этой цели
        существует множество различных тренировочных принципов. Одни подходят для начального периода, другие следует
        использовать, когда организм уже подготовлен к более серьёзным нагрузкам.</p>
    <img style="width:1200px; height:650px;"
         src="https://diary-workout.ru/app/template/images/content/016/prostye-trenirovochnye-printsipy.jpg" alt="">
    <h5>Простые тренировочные принципы</h5>
    <p>После того, как атлет прошёл начальную фазу подготовки и набрал определенный опыт работы со снарядами, настаёт
        пора постепенно переходить к более усложнённым тренировкам. Для этого ему следует начать с наиболее простых
        принципов тренировки, к которым можно отнести:</p>
    <h5>Принцип постоянного увеличения веса</h5>
    <p>Для развития силы надо постоянно пытаться поднять все большие веса. Суть принципа в том, что когда настаёт момент
        легкости исполнения упражнения в тренировочном процессе, атлет добавляет вес на снаряде.</p>

    <h5>Принцип уменьшения времени тренировки</h5>
    <p>Принцип основан на исполнении того же самого объёма работы, но в более короткое время. Выполняя определённое
        количество подходов, но сокращая время, потраченное на их выполнение, атлет добьётся большей нагрузки на
        мышцы.</p>

    <h5>Принцип увеличения объёма тренировки</h5>
    <p>Данный принцип основывается на увеличении общего объёма исполняемой на тренировке работы. Время, затраченное на
        всю
        тренировку при это не меняется. Следует постоянно уменьшать отдых между подходами или увеличивать количество
        повторений.</p>

    <h5>Принцип разнообразия</h5>
    <p>Непременным условием роста мышц является постоянное разнообразие упражнений. Не давайте организму адаптироваться
        к
        какому-либо одному типу тренировки. Чтобы мышцы росли, их нужно заставлять работать в различных условиях, для
        этого
        периодически изменяйте состав и очерёдность упражнений.</p>

    <h5>Принцип приоритета</h5>
    <p>Тренируйте сначала самые слабые части тела. Несмотря на уровень подготовки атлета невозможно иметь одинаковый
        уровень отдачи в начале и конце тренировки. В начале тренировки всегда больше сил, поэтому и работа исполняется
        более качественно. По этой причине и следует вначале тренировать те мышцы, которые у вас отстают и требуют
        усиленного внимания.</p>

    <h5>Принцип читинга</h5>
    <p>Его суть в том, что для увеличения нагрузки на определенную мышцу к работе подключают другие мышцы. Важным
        моментом
        тут является понимание того, что читинг нужен для увеличения нагрузки на мышцу, а не для облегчения выполнения
        упражнения. В тот момент когда для дальнейшего продолжения упражнения из-за усталости у вас уже не остаётся сил,
        можно в ущерб технике, добиться выполнения ещё 2-3 повторений, подключая к работе другие мышцы.</p>
    <img style="width:1200px; height:650px;"
         src="https://diary-workout.ru/app/template/images/content/016/uslozhnyonnye-trenirovochnye-printsipy.jpg"
         alt="">
    <h5>Усложнённые тренировочные принципы</h5>
    <p>Когда тренировочный стаж подходит к двум годам, настает время знакомства с более сложными принципами тренировок.
        В
        это время организм уже достаточно подготовлен и для дальнейшего постоянного прогресса необходимо постоянно
        тренироваться все тяжелее и тяжелее, увеличивая тем самым интенсивность.</p>

    <p>Постоянно применяя разнообразные, усложнённые принципы тренировок вы будет давать мышцам всё новый нарастающий
        стресс. У вас не будет привыкания к исполняемой работе, мышцы каждый раз будут получать дополнительную,
        непривычную
        и неожиданную нагрузку, что в итоге повысит результаты.</p>

    <h5>Принцип повторения через силу</h5>
    <p>Идея данного принципа заключается в том, чтобы мышцы работали больше. Этот принцип следует применять только для
        того, чтобы добавить еще одно или два повторения в конце подхода. Суть принципа в том, что когда вы в подходе
        уже
        выполнили предельно возможное количество повторений, вам на помощь приходит партнёр и помогает исполнить еще
        несколько дополнительных повторений. Также вы можете сами помочь себе выполнить дополнительные повторения,
        например
        в упражнениях с одной рукой, помогая себе свободной.</p>

    <h5>Принцип изоляции мышц</h5>
    <p>Когда в тренировочном процессе вы начинаете чувствовать спад в исполнении базового упражнения или же вы
        стремитесь к
        максимальному развитию мышцы, можно применить принцип изоляции мышц. Для этого перед исполнением базового
        упражнения
        на ту же мышцу делается изолирующее упражнение.</p>

    <h5>Принцип негативных повторений</h5>
    <p>Какую бы работу во время тренировки вы не исполняли, во время подъема веса вы делаете «позитивную» роботу, а во
        время опускания или возврата веса вы делаете «негативную» работу. Для того чтобы негативная часть движения
        давала
        пользу, ее нужно исполнять в очень медленном темпе, постоянно контролируя мышцу во время работы. Никак нельзя
        давать
        снаряду просто «падать» назад.</p>

    <p>Для увеличения нагрузки в негативных повторениях можно поднимать вес с помощью читинга или партнёра, а опускать
        самостоятельно. Мышцы всегда в состоянии корректно опустить даже такой вес, какой поднять они самостоятельно не
        в
        силах. Этот метод усиливает мышцы и соединительные ткани, помогает быстрее увеличивать силу. Негативную
        тренировку
        следует проводить только время от времени.</p>

    <h5>Принцип суперсерий (Принцип суперсетов)</h5>
    <p>Это один из наиболее известных принципов. Он основан на объединении двух одиночных подходов двух разных
        упражнений в
        одно непрерывное исполнение, без отдыха между упражнениями. Все это вместе составляет один подход
        суперсерии.</p>

    <p>Существуют разные варианты и комбинации суперсерий. Наиболее распространенный - это объединение двух упражнений
        на
        противоположные мышцы, мышцы антагонисты: грудь-спина, бицепс-трицепс, четырехглавая-двуглавая мышца бедра,
        различные части дельтовидной мышцы (плечи). Также в одну серию объединяют два упражнения на одну и ту же группу
        мышц, этим добиваются большей нагрузки на целевую мышцу и проработку под разными углами.</p>

    <h5>Принцип тройного сета</h5>
    <p>Придерживаясь этого принципа в один подход суперсерии объединяют уже не два, а три упражнения. Если выполнять три
        упражнения на одну и ту же мышечную группу без паузы между сериями, то это позволит быстро накачать мышцы. А
        поскольку это делается с трёх различных углов, то этот метод благоприятно способствует для создания рельефа и
        качества мышцы. Тройной сет развивает локальную мышечную выносливость.</p>

    <h5>Принцип гигантских сетов</h5>
    <p>Гигантский сет - это разновидность суперсерии, в которой участвуют 4-6 упражнений на одну мышечную группу с
        небольшим отдыхом или вовсе без отдыха между сериями. Данный принцип очень тяжелый, поэтому его применяют в
        своих
        тренировках лишь атлеты очень высокого уровня, и то не на продолжительное время. Обычно его целесообразно
        применять
        при работе на рельеф и качество мышц по приближению серьёзных соревнований.</p>
    <h5>Принцип непрерывного понижения веса</h5>
    <p>Данный метод также имеет сленговое название «раздеванием» или «стриптиз веса». Суть метода заключается в
        постепенном
        переходе от больших весов к меньшим в процессе выполнения подхода, что позволяет выполнить дополнительные
        повторения. Вы делаете максимум повторений с одним весом, далее не прерываете подход, а берёте меньший вес и
        работаете дальше.</p>

<p>Для упражнений со штангой понадобится помощь партнёра, при работе с гантелями вы сразу заготавливаете себе несколько
    пар с разным весом. Существует также вариант данного принципа, при котором вместо понижения весов применяются
    кратковременные паузы 8-10 секунд и далее выполняются дополнительные подходы. Способ очень трудоемок и его не
    следует применять более чем в 1- 2 упражнениях за тренировку.</p>

<h5>Принцип пирамиды</h5>
<p>Никто не начинает тренировку с максимальными весами - это путь к травмам. Суть принципа пирамиды заключается в
    постепенном увеличении веса снаряда с одновременным уменьшением количества повторений. Начинать следует с
    отягощениями, вес которых равен 60 процентам от вашего максимума. Выполните с этим весом один подход. Затем добавьте
    вес и уменьшите количество повторений. Продолжайте пока вес не станет 80 процентам от вашего максимального. Это и
    есть «пирамида». Её преимущество в том, что с тяжелыми весами вы работаете после основательной разминки.</p>

<h5>Принцип двойного сплита</h5>
<p>Этот принцип подразумевает две тренировки в день, одна утром для одних групп мышц, другая вечером для других. По
    мере роста нагрузок, выполняемых на одной тренировке, настаёт момент, когда общий объём работы настолько возрастает,
    что вы физически не способны качественно выполнить упражнения, идущие в конечной части тренировки. В такой ситуации
    поможет разделение тренировки на две отдельные части. Разброс тренировок по времени позволяет сделать больше серий,
    работать с большими весами, что будет стимулировать больший рост мышц. Тренируясь таким образом, между двумя
    тренировками вы имеет разрыв в 8-10 часов, чего вполне достаточно для отдыха и восстановления.</p>

<h5>Интуитивный тренировочный принцип</h5>
<p>Для каждого начинающего заниматься культуризмом вначале необходимо чётко придерживаться выбранной системы
    упражнений. Однако, накопив достаточный тренировочный опыт, вы должны постоянно прислушиваться к своему организму.
    Здесь не последнюю роль играет самочувствие, настроение и т.д. В зависимости от этого опытный спортсмен регулирует
    свои тренировки, умело варьируя нагрузками. Не будет ничего плохого, а даже наоборот, если вы будете периодически
    изменять систему упражнений, поменяете тренируемые группы мышц местами, переставите очередность упражнений, введёте
    новые, измените количество подходов и повторений, темп исполнения тренировочных упражнений. Для того, чтобы уметь
    прислушиваться к своему организму, надо его знать, а для этого нужен тренировочный опыт, который накапливается со
    временем.</p>
</div>
{% endblock %}