{% extends 'advice/base.html' %}

{% block title %}
Противопоказания
{% endblock %}

{% block content %}
<h1>Противопоказания к тренировкам</h1>
<p>
    Спортивные нагрузки категорически запрещены в случае свежих травм, ушибов, переломов, а также во время обострения
    заболеваний опорно-двигательного аппарата, например, радикулитов, обусловленных наличием грыжи межпозвоночного
    диска. При этом выполнение упражнений из разряда лечебной физкультуры после разрешения лечащего врача и под
    наблюдением специалистов рекомендовано с первых дней лечения и может существенно сократить сроки восстановления.
    Сначала это просто напряжение и расслабление мышц, затем подключаются упражнения на поднятие/опускание
    травмированных конечностей и простые движения, направленные на укрепление тонуса мышц в травмированной части тела. В
    дальнейшем частота, длительность, интенсивность занятий увеличиваются, добавляются другие виды нагрузок: обычная
    зарядка, плавание, легкие тренажеры.
</p>
<p>
    Умеренные нагрузки, наряду с физиотерапией (перечень физиопроцедур назначает лечащий врач), необходимы при
    реабилитации. При серьезных нарушениях они выполняются под контролем медицинских работников, а затем, когда
    состояние стабилизируется, пациенту рекомендуется обратиться к специалистам фитнес-центра для дальнейшего
    восстановления функций и подвижности травмированных частей тела.
</p>
<p>
    Есть ряд заболеваний позвоночника, суставов, костей, когда мы ограничиваем именно спортивные нагрузки на какой-то
    период или даже пожизненно. Но физкультура, занятия фитнесом необходимы каждому – и детям, и взрослым. Сегодня
    гиподинамия является главной причиной, которая приводит к различным проблемам со здоровьем. В первую очередь
    страдает позвоночник и весь опорно-двигательный аппарат, сердечно-сосудистая и дыхательная системы.
</p>
{% endblock %}