{% extends 'advice/base.html' %}
{% load static %}

{% block title %}
Противопоказания
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'advice/css/disease.css' %}">
<link rel="stylesheet" href="{% static 'advice/css/base.css' %}">
{% endblock %}

{% block content %}
<div class="content">
    <h1 style="text-align:center">Болезни и фитнес: когда можно, а когда нельзя тренироваться?</h1>
    <img src="https://vrukah.com/upload/articles/2_(6).jpg" align="left" style="height: 15%; width: 40%;" alt="">
    <p>
        Спортивные нагрузки категорически запрещены в случае свежих травм, ушибов, переломов, а также во время
        обострения
        заболеваний опорно-двигательного аппарата, например, радикулитов, обусловленных наличием грыжи межпозвоночного
        диска. При этом выполнение упражнений из разряда лечебной физкультуры после разрешения лечащего врача и под
        наблюдением специалистов рекомендовано с первых дней лечения и может существенно сократить сроки восстановления.
        Сначала это просто напряжение и расслабление мышц, затем подключаются упражнения на поднятие/опускание
        травмированных конечностей и простые движения, направленные на укрепление тонуса мышц в травмированной части
        тела. В
        дальнейшем частота, длительность, интенсивность занятий увеличиваются, добавляются другие виды нагрузок: обычная
        зарядка, плавание, легкие тренажеры. Умеренные нагрузки, наряду с физиотерапией (перечень физиопроцедур
        назначает лечащий врач), необходимы при
        реабилитации. </p>
    <p>При серьезных нарушениях они выполняются под контролем медицинских работников, а затем, когда
        состояние стабилизируется, пациенту рекомендуется обратиться к специалистам фитнес-центра для дальнейшего
        восстановления функций и подвижности травмированных частей тела.
    </p>


    <p>
        Есть ряд заболеваний позвоночника, суставов, костей, когда мы ограничиваем именно спортивные нагрузки на
        какой-то
        период или даже пожизненно. Но физкультура, занятия фитнесом необходимы каждому – и детям, и взрослым. Сегодня
        гиподинамия является главной причиной, которая приводит к различным проблемам со здоровьем. В первую очередь
        страдает позвоночник и весь опорно-двигательный аппарат, сердечно-сосудистая и дыхательная системы.
    </p>
    <h3>Диабет</h3>
    <img src="https://vrukah.com/upload/articles/oporno_dvigatelnyy_apparat.jpg" align="right" alt="">
    <p>На всех этапах существования человечества движение и физическая активность были неотъемлемой частью жизни людей.
        Современный образ жизни принес свои отрицательные плоды. Чем больше комфорта в окружающем мире, тем меньше
        естественная физическая активность. Это привело к появлению так называемых «болезней цивилизации» – сахарный
        диабет, стенокардия, атеросклероз, ожирение (наиболее частая причина сахарного диабета 2 типа). Количество
        пациентов с сахарным диабетом наиболее велико в промышленно-развитых странах, то есть существует прямая
        взаимосвязь между снижением уровня физической активности и сахарным диабетом. Японские исследователи пришли к
        выводу, что среди людей, имеющих автомобиль, заболеваемость сахарным диабетом второго типа выше, чем у тех, кто
        ходит пешком.</p>

    <p>Последние исследования американских диабетологов показывают, что пациенты с сахарным диабетом, регулярно
        занимающиеся спортом, имеют более благоприятный прогноз в отношении развития осложнений: ретинопатии,
        нефропатии, нейропатии. Если же осложнения уже имеются, то при регулярных занятиях спортом они развиваются
        значительно медленнее.</p>

    <p>При регулярной физической нагрузке усиливается расщепление жиров, снижается масса тела, улучшается жировой
        состав крови. При этом устраняются предпосылки к развитию атеросклероза и других сосудистых заболеваний.</p>

    <p>Значительное влияние оказывает физическая нагрузка и на углеводный обмен. При интенсивной физической нагрузке
        повышается чувствительность инсулиновых рецепторов к инсулину, что приводит к снижению сахара в крови. Этот
        механизм действует не только во время физических нагрузок, но и закрепляется при регулярных занятиях физической
        культурой и спортом, что позволяет лучше контролировать диабет.</p>

    <p> Каким же образом наиболее оптимально распределить физическую нагрузку в течение суток? Утром лучше всего сделать
        гимнастику, а силовые упражнения рекомендуется оставить на 16-18 часов дня.</p>

    <p>Учитывая, что у многих пациентов с сахарным диабетом 2 типа есть сопутствующие заболевания, не каждому разрешены
        интенсивные физические нагрузки.</p>
    <u>Но есть ряд рекомендаций общего характера, которые подойдут всем:</u>
    <ul>
        <li> Наиболее подходящими видами физической активности являются ходьба, плавание и езда на велосипеде. Для тех,
            кто
            только начинает заниматься, продолжительность занятий должна возрастать постепенно с 10 минут до 45-60 минут
            в
            день.
        </li>

        <li> Важна регулярность и постоянность физических нагрузок. Они должны быть не реже 3 раз в неделю.</li>

        <li> Необходим контроль глюкозы крови и собственного самочувствия. Если сахар крови ниже 4,0 ммоль/л или выше 15
            ммоль/л, то занятия спортом надо отложить до нормализации глюкозы.
        </li>
    </ul>

    <h3>Сердечно-сосудистые заболевания</h3>
    <img src="https://vrukah.com/upload/articles/serdechno_sosudistaya.jpg" align="left" alt="">
    <p>Движение – это жизнь. Об этом знают все. Но важно понимать, что не любые занятия спортом так полезны, как мы
        считаем. У каждого человека есть свои возможности выносливости. И подбор физических нагрузок должен быть
        индивидуальным.</p>

    <p> Занятия спортом позволяют оздоровить наш организм, улучшить работоспособность внутренних органов, а также
        повысить психологическую устойчивость и адаптацию к стрессовым факторам. Любительский спорт для достижения
        хороших результатов требует не только постоянных занятий, но и изменения своего образа жизни, рациона питания,
        режима дня. Придется отказаться от многих «прелестей жизни», вредных привычек (курение, алкоголь). Постоянные
        физические нагрузки влияют на весь организм и в первую очередь на сердечно-сосудистую систему. </p>


    <p> Во
        время спортивной тренировки сердце подвергается повышенным нагрузкам. Для обеспечения работы мышц необходим
        постоянный приток артериальной крови, которая снабжает их кислородом и питательными веществами. Помимо этого,
        интенсивное кровоснабжение обеспечивает одновременное удаление вредных продуктов, например, молочной кислоты и
        углекислого газа.</p>

    <p> Часто люди даже не подозревают, что у них может быть какое-либо заболевание со стороны сердца или других
        внутренних органов. На первоначальных этапах сердечно-сосудистая патология может проявляться лишь незначительным
        недомоганием или снижением спортивных результатов. Поэтому перед походом в фитнес-центр оцените состояние своего
        здоровья, проконсультируйтесь с врачом.</p>

    <p> Существует целый ряд противопоказаний, когда не стоит приступать к занятиям с большими физическими нагрузками
        без осмотра кардиолога (терапевта). Например, перенесенные кардиты в анамнезе, врожденные и приобретенные пороки
        сердца, вегетососудистая дистония, аномалии проводящей системы сердца, астма (среднетяжелая и тяжелая форма),
        язвенная болезнь желудка и ДПК, пиелонефрит, хронические синуситы и т.д.</p>

    <p> При обострении хронического заболевания или при острых состояниях (инфаркт миокарда, ОРВИ, пневмония,
        пиелонефрит, туберкулез и т.д.) временно запрещено заниматься спортом.</p>

    <p> Иногда при указанных заболеваниях могут быть рекомендованы физические упражнения, но только в виде специальной
        лечебной гимнастики: ходьба, плавание, дыхательная гимнастика. Все противопоказания и виды физических нагрузок
        перечислить невозможно. На основании одного диагноза решать вопрос о запрете занятия спортом нельзя. Значение
        имеет диагноз, состояние компенсации, степень приспособленности организма к физическим нагрузкам, уровень его
        тренированности.</p>
    <h3>Беременность</h3>
    <img src="https://vrukah.com/upload/articles/beremennost.jpg" align="right" alt="">
    <p>Многие беременные ошибочно считают, что любые занятия спортом могут осложнить течение беременности. Однако фитнес
        для беременных располагает множеством упражнений, которые исключают нагрузку на живот.</p>

    <p>Программа составляется индивидуально, с акцентом на укрепление мышц тазового дна и позвоночника. Обычно с целью
        уменьшить нагрузку на живот, а, следовательно, и на матку. Во время занятий используют бандаж, что помогает
        беременной в укреплении собственных мышц живота и способствует удержанию матки и малыша в наиболее удобном
        положении. Также с целью коррекции и разгрузки опорно-двигательного аппарата применяются индивидуальные
        ортопедические стельки. Немаловажную роль играют занятия в бассейне. Водные процедуры помогают разработать
        правильное дыхание и избавиться
        от стресса.Это особенно важно в последние месяцы беременности и во время родов.</p>

    <p> Именно после 30 недель малыш растет
        наиболее активно, что приводит к растяжению мышц живота и увеличивает нагрузку на тазовое дно. А именно эти
        мышцы
        более всего задействованы во время родов. Подготовленные беременные легче переносят роды и быстрее
        восстанавливаются
        в послеродовом периоде.</p>

    <p>Не стоит прекращать занятия фитнесом и после родов, несмотря на катастрофическую нехватку времени у молодой мамы.
        Это поможет быстрее восстановить фигуру и избавиться от лишних килограммов, набранных во время беременности.
        Если вы
        приняли решение заниматься фитнесом, необходимо согласовать это с лечащим врачом, у которого вы наблюдаетесь по
        беременности, и специалистом по фитнесу.</p>

    <p>Иногда беременность протекает неблагоприятно. В таких ситуациях приходится ограничивать физические нагрузки.
        Часто
        это распространяется и на занятия фитнесом.</p>
</div>
{% endblock %}