{% extends 'advice/base.html' %}
{% load static %}


{% block title %}
Меню
{% endblock %}

{% block css %}

<link rel="stylesheet" href="{% static 'advice/css/base.css' %}">
{% endblock %}

{% block content %}
<div class="content">

    <h1 style="text-align:center; margin-bottom:50px;">Про Cпорт</h1>
    <ul>
        <h5 style="text-align:center; margin-bottom:20px;">Для активных людей интересующихся
        силовыми видами спорта и правильным питанием</h5>
        <h5 style="text-align:center; margin-bottom:20px;">Готовый справочник упражнений</h5>
        <h5 style="text-align:center; margin-bottom:20px;">Калькулятор калорий по формуле Миффлина - Сан Жеора</h5>
        <h4 style="text-align:center; margin-bottom:20px;">Запишись на консультацию</h4>
    </ul>
</div>
{% endblock %}