{% extends 'advice/base.html' %}
{% load static %}

{% block title %}
Мышцы человека
{% endblock %}


{% block css%}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'advice/css/base.css' %}">

{% endblock %}


{% block content %}
<div class="content">
    <h1>Мышцы груди: строение и функции</h1>
    <img src="https://diary-workout.ru/app/template/images/5cfb5a2235386.jpg" alt="">
    <p>Грудные мышцы занимают большую часть на верхней поверхности туловища и хорошо видны спереди. Каждый мужчина
        стремится придать мышцам груди массы и рельефа, так как данные мышцы сильно влияют на общее представление о
        хорошо
        сложенном, атлетическом телосложении.</p>

    <p>В состав грудных мышц входит много больших и мелких мышц, которые условно разделяют на поверхностные и
        глубинные.</p>
    <ul>
        <li>Глубинные мышцы, такие как наружные и внутренние межрёберные мышцы, поперечные и подрёберные мышцы груди
            отвечают за подъем и опускание рёбер. Они закрываются большой грудной мышцей и не видны на теле
            человека.
        </li>
        <li>К наружным мышцам относятся большая и малая грудная мышца, передня зубчатая мышца и подключичная мышца.
            Подключичную мышцу также не видно на теле, она отвечает за движение ключицы. На остальных мышцах мы
            остановимся
            подробней.
        </li>
    </ul>
    <h1>Мышцы живота: строение и функции</h1>
    <img src="https://diary-workout.ru/app/template/images/5c3b3bc4eae0f.jpg" alt="">
    <p>Мышцы живота образуют переднюю стенку брюшной полости и находятся в тесном взаимодействии друг с другом. Строение
        стенки живота можно разделить на две части, каждая из которых действует по-разному. Переднюю стенку брюшной
        полости
        образует прямая мышца живота. Боковые стенки живота состоят из трех слоев мышц. Самый нижний слой образует
        поперечная мышца. Средний слой образует внутренняя косая мышца живота. На самом верху расположена наружная косая
        мышца живота.</p>

    <p>Сокращение косых мышц живота с одной стороны тела вызывает боковой наклон туловища. Одновременное сокращение
        косых
        мышц с обеих сторон помогает прямой мышце живота наклонять туловище вперед и заодно придаёт прочность стенкам
        брюшной полости, если возникает необходимость поднимать большой вес.</p>
    <h5>Общие функции мышц живота</h5>
    <ul>
        <li>При фиксировании таза способствуют наклону туловища вперед или назад.</li>
        <li>При фиксировании верхней части туловища сгибают и поднимают ноги.</li>
        <li>При фиксировании таза и позвоночника оттягивают грудную клетку вниз, способствуя выдоху.</li>
        <li>Содействуют повышению активной силы мышц, отходящих от таза к нижним конечностям.</li>
        <li>Оказывают большое влияние на удержание в правильном положении органов брюшной полости.</li>
        <li>Являются антагонистами выпрямителей туловища, влияя на осанку.</li>
    </ul>
    <h1>Мышцы рук: строение и функции</h1>
    <img src="https://diary-workout.ru/app/template/images/5be1b63275ef5.jpg" alt="">
    <p>Мышцы руки состоят из мышц плеча (верхняя часть руки), предплечья и кисти. Плечо образовано одной костью -
        плечевой, а предплечья двумя - лучевой (расположена со стороны большого пальца) и локтевой (расположена со
        стороны мизинца). Локтевой сустав является блоковидным и соединяет плечевую, лучевую и локтевую кости. В нём
        возможны сгибания и разгибания руки, а также вращение предплечья. Кроме того, благодаря мышцам предплечья мы
        можем поворачивать кисть. Лучезапястный сустав расположен между предплечьем и кистью.</p>
    <img src="https://diary-workout.ru/app/template/images/content/myshtsy-ruk-kosti.jpg" alt="">
    <h1>Мышцы ног и ягодиц: строение и функции</h1>
    <img src="https://diary-workout.ru/app/template/images/5bb63554e05c1.jpg" alt="">
    <p>В ноге выделяют верхнюю часть (бедро) и нижнюю (голень). Бедро включает в себя одну бедренную кость, а голень
        состоит из двух костей - большой берцовой (расположенной со стороны большого пальца стопы) и малой берцовой
        (расположенной со стороны мизинца).</p>
    <img src="https://diary-workout.ru/app/template/images/content/noga-cheloveka-kosti-i-sustavy.jpg" alt="">
    <p><u>Коленный сустав</u> представляет собой простой шарнир между бедренной и большой берцовой костями. Он может
        совершать два
        движения - сгибание и разгибание. При сгибании колена голень отклоняется к задней поверхности бедра, а при
        разгибании нога выпрямляется.</p>

    <p><u>Тазобедренный сустав</u> представляет собой шаровой шарнир, соединяющий верхнюю часть бедренной кости и
        тазовую
        кость. В
        бедренном суставе может совершаться шесть основных движений: сгибание, разгибание, разведение, сведение, поворот
        наружу и внутрь.</p>

    <p><u>Голеностопный сустав</u> соединяет нижнюю часть большой и малой берцовых костей с таранной костью стопы. При
        сгибании
        голеностопного сустава пальцы стопы отрываются от пола, а стопа движется в направлении голени. При разгибании
        пятка
        отрывается от пола, а стопа движется по направлению от голени.</p>
    <h1>Мышцы спины: строение и функции</h1>
    <img src="https://diary-workout.ru/app/template/images/5b8f847fd21b0.jpg" alt="">
    <p>Мышцы спины занимают самую большую поверхность тела по сравнению с другими группами мышц. Благодаря мышцам спины
        у
        человека есть возможность прямо передвигаться на двух ногах, что отличает человека от животных. Также, не менее
        важной функцией является защита внутренних органов. Поэтому каждый должен позаботится о том, чтобы его мышцы
        спины
        были крепкими и сильными.</p>

    <p>В состав мышц плечевого пояса входят:</p>
    <ul>
        <li>Ременная мышца головы</li>
        <li>Мышца поднимающая лопатку</li>
        <li>Малая ромбовидная мышца</li>
        <li>Большая ромбовидная мышца</li>
        <li>Подостная мышца</li>
        <li>Малая круглая мышца</li>
        <li>Большая круглая мышца</li>
        <li>Мышца, выпрямляющая позвоночник</li>
    </ul>
    <h5>Поверхностные мышцы спины</h5>
    <img style="width:1200px; height:650px;" src="https://diary-workout.ru/app/template/images/content/poverkhnostnye-myshtsy-spiny.jpg" alt="">
    <p>В верхнем отделе спины находится трапециевидная мышца - крупная мышца треугольной формы. Она начинается от
        черепа,
        идёт вдоль верхнего отдела позвоночника до последних ребер (то есть охватывает все шейные и грудные позвонки).
        Верхний пучок трапециевидной мышцы (область шеи) крепится к ключице, акромиону и лопатке, а средний и нижний - к
        лопатке. Верхний пучок трапециевидной мышцы поднимает лопатку, когда мы пожимаем плечами, и поворачивает её,
        когда
        мы отводим руку. Средний пучок прижимает лопатку к позвоночнику, отводя плечи назад. Нижний пучок опускает
        лопатку.</p>

    <p>В среднем отделе находится широчайшая мышца спины. Это сравнительно тонкая, крупная, веерообразная мышца, имеющая
        форму треугольника большой площади. В силу этого и мышцы, находящиеся под ней, принимают участие в создании
        очертаний спины. Она начинается от крестца и нижнего отдела позвоночника. Внешний край широчайшей мышцы спины
        отделен от мышц живота бороздой. Часть мышцы обходит внешнюю поверхность грудной клетки и, постепенно сужаясь,
        переходит в сухожилие, которое крепится к верхней части плечевой кости. Главной функцией широчайшей мышцы спины
        является приведение плечевой кости. При сокращении широчайшей мышцы спины возникают движения в плечевом суставе.
        Эта
        мышца опускает руку и отводит её назад, поэтому для её проработки используются такие упражнения, как тяга и
        подтягивания.</p>

    <p>Благодаря трапециевидной и широчайшей мышцы спины выполняются движения в основном плеч и рук.</p>
    <h5>Глубинные мышцы спины.</h5>
    <img style="width:1200px; height:650px;" src="https://diary-workout.ru/app/template/images/content/glubinnye-myshtsy-spiny.jpg" alt="">
    <p>Под трапециевидной мышцей располагаются ещё три мышцы, благодаря которым лопатка крепится к позвоночнику. Это
        мышца,
        поднимающая лопатку, большая ромбовидная и малая ромбовидная мышцы. Мышца, поднимающая лопатку, помогает
        верхнему
        пучку трапециевидной мышцы. Очертания этой мышцы выделяются, главным образом, при давлении, оказываемом плечом
        на
        какой-нибудь предмет, затем при наклоне головы и шеи вперед. Ромбовидные мышцы помогают среднему пучку
        трапециевидной мышцы. Располагаясь непосредственно под трапециевидной мышцей, эти три глубокие мышцы зрительно
        увеличивают объем верхнего отдела спины.</p>

    <p>В нижнем отделе спины начинается мышца выпрямляющая позвоночник. Она проходит вдоль всего позвоночника, является
        достаточно рельефной и дает человеку возможность прямо передвигаться на двух ногах, без помощи рук. Половины
        этой
        мышцы, расположенные по обе стороны позвоночного столба, особенно заметны в области поясничного отдела
        позвоночника.
        Между ними образуется углубление, находящееся как раз в срединной линии, которая в поясничной области наиболее
        заметна. Мышца выпрямитель является разгибателем позвоночного столба и, в силу этого, антагонистом по отношению
        к
        мышцам живота, вместе с которыми она удерживает туловище в вертикальном положении. Одностороннее сокращение
        мышцы
        вызывает сгибание и разгибание туловища, а также поворот его в сторону работающей мышцы.</p>

    <p>В число упражнений для проработки мышц спины входят шраги, тяги, наклоны и разгибание спины. Комплексным
        упражнением, в котором задействованы все мышцы спины, является становая тяга.</p>
    <h1>Мышцы плечевого пояса: строение и функции</h1>
    <img src="https://diary-workout.ru/app/template/images/5b72b31453afc.jpg" alt="">
    <p>Функции мышц плечевого пояса связаны с функциями мышц груди и отчасти спины. Поэтому разграничение между
        туловищем и
        плечевым поясом весьма условно. С изменением очертаний мышц меняются и очертания спины, шеи и груди.</p>
    <img src="https://diary-workout.ru/app/template/images/content/myshtsy-plechevogo-poyasa-spisok.jpg" alt="">
    <p>В состав мышц плечевого пояса входят:</p>
    <ul>
        <li>Малая грудная мышца</li>
        <li>Плечевая мышца</li>
        <li>Подлопаточная мышца</li>
        <li>Клювовидно-плечевая мышца</li>
        <li>Большая круглая мышца</li>
        <li>Надостная мышца</li>
        <li>Подостная мышца</li>
        <li>Малая круглая мышца</li>
    </ul>
    <p>Плечевой сустав является шаровидным. Он образуется головкой плечевой кости и суставной впадиной лопатки. Этот
        сустав
        позволяет выполнять сгибание (подъем руки вперед) и разгибание (отведение руки назад) руки в плечевом суставе,
        сведение (движение рук в горизонтальной плоскости на уровне плеча вперед) и разведение (движение рук в
        горизонтальной плоскости на уровне плеча назад) рук, вращение руки внутрь и наружу, отведение (в сторону) и
        приведение (к боковой поверхности туловища) руки.</p>

</div>
{% endblock %}