{% extends 'advice/base.html' %}
{% load static %}
{% block title %}
Питание
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'advice/css/nutrition.css' %}">
    <link rel="stylesheet" href="{% static 'advice/css/base.css' %}">
{% endblock %}

{% block content %}
<div class="content">
    <h1>Основные принципы правильного питания</h1>
    <h2>Что такое правильное питание</h2>
    <p>
        По определению Всемирной организации здравоохранения, здоровое питание включает в себя фрукты и овощи, бобовые,
        цельные злаки и орехи. Остальное опционально. Сахар, соль и насыщенные жиры специалисты рекомендуют употреблять
        в
        ограниченных количествах. Да, сахар тоже необходим организму. О норме его потребления вы можете прочитать в
        другом
        нашем материале.
    </p>
    <p>
        Фрукты и овощи на первом месте стоят не случайно. Суточная норма их потребления — минимум 400 г. При этом
        потребности в авокадо, семенах чиа или каких-то экзотических фруктах нет. Можно обойтись и более привычными
        продуктами.
    </p>
    <h2>Зачем нужно правильное питание</h2>
    <p>
        Принято считать, что генетика и уровень развития медицины в стране — это определяющие факторы продолжительности
        жизни. Однако, если верить исследованию, опубликованному в The New England Journal of Medicine, питание и
        привычки
        влияют на это гораздо больше.
        Учёные из Гарварда и вовсе утверждают, что с помощью правильного рациона и особенностей быта женщины могут
        продлить
        себе жизнь на 14 лет, а мужчины на 12.
        Ещё врачи убеждены, что наша еда влияет на риски заболеваний точно так же, как и курение и отсутствие физической
        активности.
    </p>
</div>
{% endblock %}