{% extends 'advice/base.html' %}
{% load static %}
{% block title %}
Питание
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'advice/css/base.css' %}">
<link rel="stylesheet" href="{% static 'advice/css/nutrition.css' %}">

{% endblock %}

{% block content %}
<div class="content">
    <h1 style="text-align:center">Основные принципы правильного питания</h1>
    <img src="https://vkusvill.ru/upload/resize/341001/341001_1200x600x70_c.webp" align="left" alt="">
    <h3>Что такое правильное питание</h3>
    <p>
        По определению Всемирной организации здравоохранения, здоровое питание включает в себя фрукты и овощи, бобовые,
        цельные злаки и орехи. Остальное опционально. Сахар, соль и насыщенные жиры специалисты рекомендуют употреблять
        в
        ограниченных количествах. Да, сахар тоже необходим организму. О норме его потребления вы можете прочитать в
        другом
        нашем материале.
    </p>
    <p>
        Фрукты и овощи на первом месте стоят не случайно. Суточная норма их потребления — минимум 400 г. При этом
        потребности в авокадо, семенах чиа или каких-то экзотических фруктах нет. Можно обойтись и более привычными
        продуктами.
    </p>
    <h3>Зачем нужно правильное питание</h3>
    <p>
        Принято считать, что генетика и уровень развития медицины в стране — это определяющие факторы продолжительности
        жизни. Однако, если верить исследованию, опубликованному в The New England Journal of Medicine, питание и
        привычки
        влияют на это гораздо больше.
        Учёные из Гарварда и вовсе утверждают, что с помощью правильного рациона и особенностей быта женщины могут
        продлить
        себе жизнь на 14 лет, а мужчины на 12.
        Ещё врачи убеждены, что наша еда влияет на риски заболеваний точно так же, как и курение и отсутствие физической
        активности.
    </p>
    <img src="https://vkusvill.ru/upload/resize/701129/701129_1200x99999x90.webp" alt="">
    <h3>Здоровое питание — это сложно и дорого?</h3>
    <p>К счастью, это не так.</p>

    <p> Во-первых, не нужно изобретать велосипед и искать хитромудрые блюда. На нашем сайте в разделе Рецепты есть
        подборка разнообразных вариантов, приготовить которые под силу каждому. Списки продуктов, кстати, уже
        внутри.</p>

    <p> Во-вторых, если времени на кухню у вас нет совсем, можно заказать готовую еду. Причём тоже здоровую, ведь
        доставка — это не всегда фастфуд. ВкусВилл предлагает вам полезные и вкусные блюда из категории «Кулинария». А
        если вы теряетесь, не понимая, что выбрать, у нас есть «Рацион на каждый день». Меню во всех позициях составлено
        с учётом правильных пропорций белков, жиров и углеводов и удовлетворяет самые разнообразные потребности.</p>
    <h3>Основы правильного питания</h3>
    <p>Теперь о главном. Мы составили для вас несколько советов, изучив подготовленные ВОЗ рекомендации, как
        придерживаться правильного питания. Все они простые.</p>
    <ul>
        <li>Следите за суточным потреблением калорий в соответствии со своими параметрами. Это не значит, что нужно
            невротично высчитывать энергетическую ценность каждого съеденного продукта. Однако контролировать рацион и
            не переедать — важный пункт в здоровом питании.
        </li>
        <li>Старайтесь есть не меньше 400 г свежих фруктов и овощей в день за исключением картофеля.</li>
        <li>Контролируйте долю потребляемых жиров. Она не должна превышать 30 % от суточной нормы калорий.</li>
        <li>Свободным сахарам отводите не больше 50 г в сутки, соли — максимум 5 г.</li>
        <li>Отдавайте предпочтение варёной или приготовленной на пару пище.</li>
        <li>По возможности исключите из своего ежедневного рациона сладкую газировку и энергетические напитки, жареное,
            жирное, солёное, а также кондитерские изделия, фастфуд и алкоголь.
        </li>
    </ul>
    <p>Для вашего удобства специалисты отдела питания и здоровья ВкусВилла составили простую схему пищевого баланса —
        тарелку здорового питания. Сделанная наподобие известной Гарвардской тарелки, наша основана на современных
        научных рекомендациях и отражает оптимальные пропорции нутриентов, в рамках которых и передано возможное
        разнообразие.</p>
    <img src="https://vkusvill.ru/upload/resize/701130/701130_1200x99999x90_o.webp" alt="">
    <h3>Фрукты и овощи</h3>
    <p>Как было сказано выше, их суточная норма потребления должна быть не ниже 400 г. Набивать холодильник
        экзотическими причудами необходимости нет, однако это не значит, что помидоров и огурцов достаточно. Рацион
        должен быть разнообразным и, более того, разноцветным.</p>

    <p> Благодаря множеству научных исследований мы знаем, что фрукты и овощи разных цветов содержат разные
        фотохимические вещества — все они улучшают наше здоровье. Поэтому чем больше на тарелке будет «красок», тем
        больше пользы получит ваш организм.</p>

    <p> Также не забывайте про зелень и листовые овощи — они не менее полезны.</p>
    <h3>Белок</h3>
    <p>Здесь список не ограничен молочными продуктами и мясом. Белком богаты: рыба, яйца, бобовые, тофу, гречка, киноа,
        авокадо, спаржа, орехи и семечки.</p>

    <p> Роспотребнадзор рекомендует добавлять в рацион белок растительного происхождения. Растительный белок — это
        семечки и орехи, а также бобовые: соевые, фасоль, нут, горох, чечевица. Крупы тоже могут быть богаты белком,
        однако ВОЗ их относит к сложным углеводам, как и картофель, поэтому в этом блоке мы их не учитываем.</p>

    <p> Минздрав Великобритании отмечает, что бобовые — хорошая альтернатива мясу, так как они содержат меньше жира и
        больше белка и клетчатки. А вот с орехами будьте аккуратнее. В них высокое содержание растительных жиров.
        Подробнее об орехах можно прочесть здесь.</p>

    <p> Животный белок — это яйца, рыба, мясо и любой мясной продукт, в том числе птица и дичь. Молочные продукты — уже
        другая категория.</p>

    <p> Стандартная порция яиц — два небольших или одно большое в день, а рыбы — минимум две порции в неделю, одна из
        которых жирная: лосось, форель, скумбрия, сельдь, сайра, иваси. Помимо белка, в рыбе содержится ещё и омега-3 —
        ненасыщенные жирные кислоты, которые организм может синтезировать лишь в малом количестве.</p>
    <h3>Молочные продукты</h3>
    <p>Молочные и кисломолочные продукты — один из главных источников кальция. Роспотребнадзор советует ежедневно
        употреблять 2–3 порции такой пищи.</p>

    <p> Это не относится к сливочному маслу, сливкам, мороженому и сметане — из-за высокой жирности и возможного
        содержания добавленного сахара.</p>

    <p> Пить молоко стаканами не обязательно. Можно сделать с ним кашу или творожную запеканку. Главное: следить за
        содержанием сахара в готовых йогуртах и творожках.</p>
    <p>Если вы предпочитаете растительное молоко, восполнить баланс кальция помогут тофу, приготовленный с сульфатом
        кальция, сардины, консервированные с костями, брокколи и некоторые бобовые и брокколи. Также найти подходящую
        для себя альтернативу можно в этих списках.</p>
    <h3>Сложные углеводыСложные углеводы</h3>
    <p>Один из основных источников клетчатки, которая необходима организму. Поэтому важно употреблять цельные
        неочищенные злаки.
        Цельнозерновые макароны, мука, хлебцы и хлеб, а также разнообразные крупы — без них невозможен правильный
        рацион.</p>
    <h3>Масла</h3>
    <p>Богаты ненасыщенными жирами. Содержатся в орехах, семенах, рыбе и авокадо, а также в оливковом, рапсовом,
        подсолнечном, конопляном, льняном и других маслах.
        Их часто используют для жарки, однако ВОЗ рекомендует отдавать предпочтение варёным и приготовленным на пару
        блюдам. А сами масла использовать в дополнение: например, к овощному салату.</p>
</div>
{% endblock %}