{% extends 'advice/base.html' %}
{% load static %}

{% block title %}
Вопрос-ответ
{% endblock %}


{% block css%}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'advice/css/base.css' %}">

{% endblock %}


{% block content %}
<div class="content">
    <h1>Как самостоятельно составить программу тренировок</h1>
    <img src="https://diary-workout.ru/app/template/images/5cbd65bfd05c5.jpg" alt="">
    <p>Каждый начинающий атлет, рано или поздно, задаётся вопросом, как самостоятельно составить программу тренировки.
        Для
        составления грамотной программы тренировок достаточно следовать несложным правилам, освоить которые не составит
        особого труда. Гораздо больше времени уйдёт на то, чтобы с помощью этих правил подобрать по-настоящему
        эффективную
        программу тренировок, пригодную именно вам. Так как универсальных программ на все случаи жизни не существует,
        придётся потратить время, чтобы испробовать различные подходы и понаблюдать как реагирует на них ваше тело.</p>

    <p>Если общими словами говорить о том, что такое процесс силовой тренировки, то можно сказать, что это череда
        постоянных разрушений и восстановлений. В процессе тренировки, будь то тренировка дома или в спортзале, мы
        повреждаем мышечные волокна. Когда мы спим, мышечные волокна восстанавливаются, утолщаясь. Таким образом наш
        организм готовится к тому, чтобы в следующий раз мышцы повреждались меньше. Для того, чтобы у мышц была
        возможность
        восстанавливаться, мы должны правильно питаться, обеспечивая организм всеми нужными элементами.</p>
    <img style="width:1200px; height:650px;"
         src="https://diary-workout.ru/app/template/images/content/kak-samomu-sostavit-programmu-trenirovok.jpg" alt="">
    <p>Итак, правильная программа тренировок должна обеспечить хорошую нагрузку на организм и время, достаточное для
        восстановления мышц после этой нагрузки. Первого мы добьемся выполняя силовые упражнения, за второе же отвечает
        отдых после тренировки и правильное питание. Как мы можем увидеть, по-настоящему эффективная тренировка - это не
        просто набор упражнений, выполненных в зале. Это также дисциплина и соблюдение определённого режима, так как
        действительно заметных результатов получится добиться лишь тренируясь на постоянной основе. Вам придётся
        изменить
        свой график, встроить в него регулярные тренировки, хорошо отдыхать, следить за режимом и питанием. Лишь в этом
        случае через продолжительное время будет заметен результат - то самое атлетическое тело, которое захочется не
        только
        показать остальным, но и самому полюбоваться им перед зеркалом!</p>
    <h5>Подбор упражнений</h5>
    <p>Перво-наперво необходимо разобраться с нагрузкой, какие именно упражнения следует выполнять в спортзале.
        Действительно, упражнений великое множество: это и обычные упражнения с гантелями и штангой, которые можно
        выполнять
        в домашних условиях, и множество различных тренажёров, которые помогают нам более концентрировано и безопасно
        выполнять упражнения в зале. Не будем углубляться в детали и рассматривать какие-то конкретные из них. Начав
        заниматься, вы сами быстро обзаведётесь любимыми тренажёрами и упражнениями. Куда более важным моментом является
        не
        какие именно упражнения вы выполняете, а как вы их комплектуете, как именно распределены упражнения по
        тренировочным
        дням, что нужно тренировать на одной тренировке, а что на другой, какие мышцы прорабатывать вначале, а какие в
        конце
        тренировки.</p>

    <p>Есть три основных правила, которыми можно руководствоваться, распределяя упражнения между тренировочными днями. В
        основном этими правилами руководствуются чтобы наполнить программу тренировок упражнениями.</p>
    <h5>1. Верх - Низ</h5>
    <p>Ноги являются самой большой мышечной группой нашего организма. Поэтому есть мнение, что этим мышцам вообще
        следует
        уделять отдельный тренировочный день. Способствует этому ещё и то, что бицепс бедра и квадрицепс относятся к
        разным
        группам «тяни-толкай», что позволяет без проблем тренировать их одновременно. Кроме всего прочего, также бытуем
        мнение, что такие мышцы как бицепс и трицепс вообще не нужно тренировать отдельно, так как они и так получают
        достаточно нагрузки при выполнении упражнений на грудь и спину. Руководствуясь этими правилами мы можем условно
        разбить наше тело на верхнюю часть: спина, грудь и нижнюю часть - ноги, и тренировать эти части попеременно.
        Хотя
        принято считать, что эта схема больше подходит новичкам для тренировки два дня в неделю при переходе от фулбоди
        системы к сплит системе, однако эта же схема может использоваться и уже опытными атлетами при интенсивной
        четырёхдневной программе тренировок. Примером может быть такое распределение мышечных групп по тренировочным
        дня:</p>
    <ul>
        <li>Грудь, спина, плечи</li>
        <li>Ноги, пресс</li>
    </ul>
    <img style="width:1200px; height:650px;"
         src="https://diary-workout.ru/app/template/images/content/programma-trenirovok-verx-niz.jpg" alt="">
    <h5>2. Тяни - Толкай, синергисты</h5>
    <p>Всё дело в том, что наши мышечные группы можно условно разделить на тянущие и толкающие. К тянущим группам
        относятся: спина, бицепс (двуглавая мышца плеча), бицепс бедра (двуглавая мышца бедра). К толкающим мышцам
        относятся: грудь, дельты, трицепс (трёхглавая мышца плеча), квадрицепс (четырёхглавая мышца бедра), икры. Суть
        правила заключается в том, чтобы не тренировать мышцы из одной группы на одной тренировке. Объяснить это можно
        на
        примере спины и бицепса. Эти мышцы относятся к одной группе «Тянущие» и при этом бицепс также участвует во
        многих
        упражнениях на спину. Получается, если сначала выполнить упражнение на спину, а после этого упражнение на
        бицепс, то
        это будет малоэффективно, так как бицепс и так уже поработал помогая спине. Выполнять упражнение на бицепс, а
        после
        упражнение на спину, также не лучший вариант, так как бицепс, уже устав после своего упражнения, не даст
        полностью
        выполнить упражнение на спину, потому что откажет раньше. Для того, чтобы этого не произошли и принято не
        включать
        мышцы из одной группу в одну тренировку. В качестве примера можно считать трехдневную программу тренировок при
        следующем распределение мышечных групп по тренировочным дням:</p>
    <ul>
        <li>Грудь, бицепс</li>
        <li>Спина, трицепс</li>
        <li>Ноги, плечи</li>
    </ul>
    <img style="width:1200px; height:650px;"
         src="https://diary-workout.ru/app/template/images/content/programma-trenirovok-tyani-tolkaj-sinergisty.jpg"
         alt="">
    <h5>3. Антагонисты, сгибай - разгибай</h5>
    <p>В этом случае следует условно разделить мышечные группы на мышцы-сгибатели и мышцы-разгибатели. Дело тут в том,
        что
        наши мышцы зачастую «ходят парами» и при своей работе выполняют противоположные движения. Таким образом одни
        сгибают
        суставы, другие их разгибают. Эти пары мышц и называют антагонистами. Примером может служить бицепс, который
        отвечает за сгибание руки в локтевом суставе и трицепс, который отвечает за разгибание руки. Такая же ситуация и
        в
        случае с ногами: бицепс бедра сгибает, а квадрицепс разгибает ногу в колене. Когда вы выполняете упражнение на
        определённую мышцу, противоположный ей антагонист отдыхает, либо находится в лёгком статическом напряжении.
        Таким
        образом, следуя этому правилу, мышечные группы можно распределить по тренировочным дням по принципу их парной
        проработки, например:</p>
    <ul>
        <li>Грудь, спина</li>
        <li>Ноги, плечи</li>
        <li>Руки, пресс</li>
    </ul>
    <img style="width:1200px; height:650px;"
         src="https://diary-workout.ru/app/template/images/content/programma-trenirovok-antagonisty-sgibaj-razgibaj.jpg"
         alt="">
    <h5>Всё сразу или всё по отдельности</h5>
    <p>Несомненно, самым простым способом является либо качать всё сразу на одной тренировке или каждую группу качать
        отдельно на отдельной тренировке. Первое больше подойдёт совсем начинающим атлетам, так как у них как правило
        мышечная масса не большая и время на восстановление требуется не много. Поэтому вполне нормальной будет
        трёхдневная
        программа тренировки, с полной проработкой всего тела в каждый тренировочный день.</p>

<p>Во втором случае речь идёт о программах тренировок для уже профессиональных атлетов. У них, наоборот, мышечная масса
    велика и чтобы хорошо проработать мышцы, нужно сильно постараться. Поэтому и нет возможности тренировать мышцы
    вместе. Тем более такая программа требует много свободного времени, которого в большинстве случаев нет у тех, кто не
    занимается этим профессионально.</p>

</div>
{% endblock %}