{% extends 'advice/base.html' %}
{% load static %}

{% block title %}
Тренировки
{% endblock %}


{% block css%}
<link rel="stylesheet" href="{% static 'advice/css/training.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'advice/css/base.css' %}">


{% endblock %}


{% block content %}
<h1>Мышечные группы:</h1>
<div class="container-fluid">
    <div class="row">
        {% for muscl in muscle %}
        <div class="col">
            <div class="card" style="width: 18rem; height: 26rem;">
                <img class="card-img-top" src="{{ muscl.image.url }}">
                <div class="card-body">
                    <h5 class="card-title">{{ muscl.name }}</h5>
                    <p class="card-text">{{ muscl.function }}</p>
                    <a href="{% url 'muscle_id' muscl.id %}" class="btn btn-primary">Упражнения</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}