{% extends 'advice/base.html' %}
{% load static %}

{% block title %}
Калькулятор каллорий
{% endblock %}


{% block css%}
<link rel="stylesheet" href="{% static 'advice/css/weight_loss.css' %}">
    <link rel="stylesheet" href="{% static 'advice/css/base.css' %}">

{% endblock %}


{% block content %}
<div class="content">
    <h2 style="text-align:center">Калькулятор калорий</h2>
    <form action="{% url 'weight_loss' %}" method="post">
        {% csrf_token %}

        {% for cal in calorie %}
        <p><label class="form-label" for="{{ cal.id_for_label }}">{{ cal.label }}</label> {{ cal }}</p>
        <div class="form-error">{{ cal.error }}</div>
        {% endfor %}

        <button type="submit">Расчитать</button>
    </form>

    {% if result %}
    <div class="result">
    <h4>Сколько нужно калорий в день, чтобы вес не менялся: {{result}} ккал/день</h4>

    <h4>Сколько нужно калорий в день для похудения: {{result_loss}} ккал/день</h4>

    <h4>Сколько нужно калорий в день для набора: {{result_up}} ккал/день</h4>
    </div>
    {% endif %}
</div>
{% endblock %}