{% extends 'advice/base.html' %}
{% load static %}

{% block title %}
Калькулятор каллорий
{% endblock %}


{% block css%}
<link rel="stylesheet" href="{% static 'advice/css/weight_loss.css' %}">
{% endblock %}


{% block content %}
<div class="content">
    <h2>Расчет каллорий для похудения </h2>
    <form action="{% url 'weight_loss' %}" method="post">
        {% csrf_token %}

        {% for cal in calorie %}
        <p><label class="form-label" for="{{ cal.id_for_label }}">{{ cal.label }}</label> {{ cal }}</p>
        <div class="form-error">{{ cal.error }}</div>
        {% endfor %}

        <button type="submit">Расчитать</button>
    </form>


    <p>Минимальное количество калорий (энергии), которое сжигает ваш организм в состоянии покоя, необходимое для
        обеспечения нормальной жизнедеятельности организма: {{BMR}}ккал</p>
    <p>Необходимое колличество каллорий для похудения, с учетом вашей активности: {{result}}ккал</p>
</div>
{% endblock %}